/* body{
    background-color: aqua;} */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    color: #757575;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 30px;
    
}

/* .share style{

} */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

} 

/* .main style{
    
} */

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}
header{
   background-color: #FFF8F3;
   padding-top: 50px;
   background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
   background-repeat: no-repeat;
   background-position: 23px 38px, bottom right;

}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
   align-items: center;
}
nav .manu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;

}
.btn{
   background-color: #FD6E0A; 
   padding: 18px 35px;
   border: none;
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;
   color: white;
   cursor: pointer;
}
nav .manu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;


}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 280px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
#banner .banner-content p{
    font-size: 13px;
    color: #757575;
    line-height: 30px;
   margin-bottom: 30px;
}
.banner-content{
    max-width: 585px;
}
#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}

#about .about-container{
    max-width: 1140px;
    width: 100%;
    background-color:#FFF8F3;
    margin: 0 auto;
    text-align: center;
    padding: 136px 156px;


}
.section-heading p{
  color: #757575;
  font-size: 16px;
 margin-bottom: 30px;
  line-height: 30px;

}
..section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

#about .about-container .about-info{
    display: flex;
    gap: 50px;
 justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}

.about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}
#skills, #resume{
    padding-top: 130px;
}
#skills .skills-container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
}
.skills-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.skills-heading h2{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
   
}  
.skills-heading p{
 color: #757575;
 line-height: 30px;
 font-size: 16px;
 
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow:0px 6px 50px 0px #00000028;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    color: #181818;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.skill-card p{
    color: #757575;
    line-height: 28px;
    font-size: 12px;
    
}
#resume .resume-heading h2{
    text-align: center;
    color: #181818;
    font-weight: bold;
    font-size: 35px;

}
#resume .resume-container{
    max-width: 1140px;
    width: 71%;
    margin: 113px auto 0px;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.resume-card .card-info{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume-card .card-text{
    color: #757575;
    line-height: 28px;
    font-size: 16px;
   
}
.resume-container hr{
margin: 30px 0px;
}
.d-btn{
   text-align: center;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0px;
}
footer .footer-container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container .social h2{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-container .social p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-container .icon a{
    margin-right: 24px;
}
.footer-container form input[type="text"], .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}